<div>
    <!--<h1>Open Home Schedule</h1>!-->
    <div id="wrapper">
        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">



                {{#each watchlist}}
                    <li class="sidebar-brand">{{Title}}
                {{/each}}
                <br>
                <span class="Location">Mt.Eden, Auckland</span> <br>
                <span class="Time">1:00PM-3:00PM Sat 6 August</span>
                </li>

            </ul>


        </div>
        <div>
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">&#9776</a>
        </div>
    </div>
</div>


